body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: gray;
  color: white;
  border-radius: 10%;
}

select {
  margin: 10px 0;
}
